body {
background:#efefef;
}


.webbox{
}

.main {
background:#fff;
border:5px solid #aaa;
margin:10px auto;
padding-top:20px;
padding-bottom:20px;
}

.logo {
border-bottom:1px solid #efefef;
margin-bottom:20px;
padding-bottom:20px;
}
.logo .logoimg {
margin-left:20px;
font-weight:bold;
font-size:48px;
font-family:微软雅黑;
}

.logodesc {
font-size:22px;
font-family:微软雅黑;
color:#e51400;
}

.rightbox {
border-right:1px solid #efefef;
}

.rightbox .content-title {
margin-left:20px;
margin-right:20px;
font-size:22px;
font-weight:bold;
color:#e51400;
margin-bottom:8px;
}

.rightbox .content-body {
margin-left:20px;
margin-right:20px;
font-family:宋体;
font-size:14px;
margin-bottom:20px;
}

.sidebar{
}

.sidebar .gamedown {
	text-align:center;
	font-size:16px;
	font-weight:bold;
	border:2px solid #bbb;
	background-color:#eee;
	padding:10px;
	margin-bottom:10px;
	color: #e51400;
}
.sidebar .gamedown a {
text-decoration:none;
color:#e51400
}

.ad {
text-align:center;
}

.ad img {
width:600px;
}
